*pro.user


**/.vs/
build/
config.tests/*/.qmake.stash
config.tests/*/Makefile
/AntiHooking/bin/x64/Debug
/AntiHooking/debug
/AntiHooking/x64/Debug
/app/bin/x64/Debug
/app/Debug
/app/x64/Debug
/h264bitstream/bin/x64/Debug
/h264bitstream/debug
/h264bitstream/x64/Debug
/moonlight-common-c/bin/x64/Debug
/moonlight-common-c/debug
/moonlight-common-c/x64/Debug
/qmdnsengine/bin/x64/Debug
/qmdnsengine/Debug
/qmdnsengine/x64/Debug
*.cache
/.qmake.stash
/config.log
*.vcxproj.user
